

img {
    padding: 30px;
    transition: transform .2s; /* Animation */
    width: 190px;
    height: 190px;
    margin: 0 auto;

   
 
  
}

img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border: none;
    box-shadow: 5px 5px 5px black;
  
}

body {

    repeat: no-repeat;
    background: rgb(255,245,238);
   
   
}

h1 {
    padding-right: 10px;
    text-aling: center;
    color: #000;
}
